USE [SwitchOperations]
GO
/****** Object:  Table [dbo].[tbltempCP]    Script Date: 14-06-2018 15:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbltempCP](
	[CardNo] [varchar](25) NULL,
	[customer_id] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
