USE [SwitchOperations]
GO
/****** Object:  Table [dbo].[acc294]    Script Date: 14-06-2018 15:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[acc294](
	[account_id] [varchar](66) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
