USE [SwitchOperations]
GO
/****** Object:  Table [dbo].[TestDataTable]    Script Date: 14-06-2018 15:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TestDataTable](
	[CIFID] [varchar](max) NULL,
	[ADD1] [varchar](max) NULL,
	[ADD2] [varchar](max) NULL,
	[ADD3] [varchar](max) NULL,
	[City] [varchar](max) NULL,
	[State] [varchar](max) NULL,
	[Pincode] [varchar](max) NULL,
	[Country] [varchar](max) NULL,
	[CUSTOMER_NAME] [varchar](max) NULL,
	[NAME_ON_CARD] [varchar](max) NULL,
	[DATE] [varchar](max) NULL,
	[EMAILID] [varchar](max) NULL,
	[COUNTRY_DIAL_CODE] [varchar](max) NULL,
	[CITY_DIAL_CODE] [varchar](max) NULL,
	[MOBILE_NUMBER] [varchar](max) NULL,
	[DOB] [varchar](max) NULL,
	[PAN] [varchar](max) NULL,
	[FOURTH LINE EMBOSSING] [varchar](max) NULL,
	[AADHAR_NO] [varchar](max) NULL,
	[PIN_MAILER] [varchar](max) NULL,
	[PGKValue] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
