USE [SwitchOperations]
GO
/****** Object:  Table [dbo].[DELETEDCustData]    Script Date: 14-06-2018 15:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DELETEDCustData](
	[CustomerID] [bigint] IDENTITY(1,1) NOT NULL,
	[AccNo] [varbinary](max) NULL,
	[RoWNum] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
