USE [SwitchOperations]
GO
/****** Object:  Table [dbo].[TblUserRole]    Script Date: 14-06-2018 15:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblUserRole](
	[UserRoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](25) SPARSE  NULL,
	[CreatedDate] [datetime] SPARSE  NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedOn] [datetime] NULL,
	[SystemID] [varchar](200) NULL,
	[BankID] [varchar](200) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
