USE [SwitchOperations]
GO
/****** Object:  Table [dbo].[TblKYCDocuments]    Script Date: 14-06-2018 15:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblKYCDocuments](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerID] [bigint] NULL,
	[SignatureFileName] [varchar](200) NULL,
	[Photo] [varchar](200) NULL,
	[IDProof] [varchar](200) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_TblSupportSearchLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[TblKYCDocuments] ADD  CONSTRAINT [DF_TblKYCDocuments_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
