USE [SwitchOperations]
GO
/****** Object:  Table [dbo].[test]    Script Date: 14-06-2018 15:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[test](
	[c1] [varchar](max) NULL,
	[c2] [varchar](max) NULL,
	[c3] [varchar](max) NULL,
	[c4] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
