USE [SwitchOperations]
GO
/****** Object:  Table [dbo].[Delete1]    Script Date: 14-06-2018 15:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delete1](
	[Fromdate] [datetime] NULL,
	[Todate] [datetime] NULL,
	[currentdate] [datetime] NOT NULL
) ON [PRIMARY]

GO
