USE [SwitchOperations]
GO
/****** Object:  Table [dbo].[TblCardRequests]    Script Date: 14-06-2018 15:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblCardRequests](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RequestType] [varchar](50) NULL,
	[SwitchCode] [varchar](10) NULL,
	[CreatedDate] [datetime] NULL,
	[Flag] [varchar](5) NULL,
	[BankID] [varchar](20) NULL,
 CONSTRAINT [PK_TblCardRequests] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
