USE [SwitchOperations]
GO
/****** Object:  Table [dbo].[TblSystem_20180212]    Script Date: 14-06-2018 15:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblSystem_20180212](
	[SystemID] [int] IDENTITY(1,1) NOT NULL,
	[SystemName] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
