USE [SwitchOperations]
GO
/****** Object:  StoredProcedure [dbo].[SP_CAGetCardProdAccountsDetails_test]    Script Date: 08-06-2018 16:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CAGetCardProdAccountsDetails_test]-- [SP_CAGetCardProdAccountsDetails_test] 1,'',55
	@Redownload Bit=0,
	@BatchNo	VarChar(20)='',
	@IssuerNo VARCHAR(20)=''
As
/************************************************************************
Object Name: Get Card,Accounts file for CardGeneration
Purpose: Get Card,Accounts file for CardGeneration
Change History
Date         Changed By				Reason
23/04/2017  Diksha Walunj			Newly Developed
26/09/2017  Diksha Walunj			Modified Multiple AccountLink to Same Card

Change History
Date         Changed By				Reason
03/11/2017  Pratik Mhatre			Added PGKValue in card file for utkarsh bank(Issuer no. 18)

Change History
Date         Changed By				Reason
01/02/2018  Pratik Mhatre			ATPBF-124 Removed account id zero padding condition
*************************************************************************/

Begin
declare @code int = 0, @description as varchar(500) = 'SUCCESS'
begin try
--start sheetal
--Create AccountBalances file for Prepaid cards
--declare @CardType varchar(50)
--declare @Bankid int
--select @Bankid=id from tblbanks where bankcode=@IssuerNo
--select @CardType=CardType from tblbin where bankid=@Bankid
--end sheetal
--start sheetal change for account balance file for prepaid card and for insta
declare @IsAccountBalanceFile bit
declare @SyncCustomerData bit
select @IsAccountBalanceFile=IsAccountBalanceFile ,@SyncCustomerData=SyncCustomerData from tblbanks where bankcode=@IssuerNo

--select @IsInsta=IsInsta from tblbanks where bankcode=@IssuerNo
--end sheetal

	declare @DownloadBatch varchar(20)= 'D' + CONVERT(VARCHAR,GETDATE(),112) + REPLACE(CONVERT(VARCHAR(8),GETDATE(),114),':','')

	Select B.Code,B.[CIF ID],b.[Customer Name],b.[Customer Preferred name],b.[Card Type and Subtype],b.[AC ID],b.[AC open date],b.[CIF Creation Date],b.[Address Line 1],b.[Address Line 2],b.[Address Line 3],b.[City],b.[State],b.[Pin Code]
	,b.[Country code],b.[Mothers Maiden Name],b.[DOB],b.[Country Dial code],b.[City Dial code],b.[Mobile phone number],b.[Email id],b.[Scheme code],b.[Branch code],
	b.[Entered date],b.[Verified Date],b.[PAN Number],b.[Mode Of Operation],b.[Fourth Line Embossing],b.[Debit Card Linkage Flag],b.[Uploaded On],b.[Rejected],b.[Reason]
	,b.[Processed],b.[Downloaded],b.[Login],b.[AccountLinkage],b.[ExistingCustomer],b.[Skip],b.[BatchNo],b.[AccountLinkageSMSSent],b.[AccountLinkageSMSGUID]
	,b.[Aadhaar],b.[AddOnCards],b.[Bank],b.[ProcessedOn],b.[Bc Branch Code],b.[Center Name],b.[Orig Card Type and Subtype],b.[ResidentCustomer],b.[IsAuthorised],b.[AuthorisedBy]
	,b.[SystemID],b.BankID,B.Account_Type,Pin_Mailer,B.PGKValue
	Into #tblCardProduction 
	From TblAuthorizedCardLog B With (NoLock) 
	INNER JOIN TblBanks  BA WITH(NOLOCK) ON B.bank=BA.ID
	Where 
	b.[CIF ID] in ('00006198',
'00007323',
'00018143',
'00863498',
'00644422',
'00693355',
'01005468',
'00699814',
'00658587',
'00992250',
'01008673',
'01008685',
'01008932',
'01008978',
'01009083',
'01009165',
'00075167',
'00865754',
'00100927',
'00111301',
'01009023',
'00122400',
'01009048',
'01008526',
'01008602',
'01007945',
'01008763',
'00994329',
'01009119',
'01008900',
'01008939',
'01009031',
'01009034',
'00746148',
'01008724',
'01008840',
'01008853',
'01008872',
'01008888',
'01009107',
'00160635',
'00185078',
'00189213',
'01009006',
'01008161',
'00388367',
'01008600',
'00166538',
'00177425',
'01005608',
'01008779',
'01008816',
'01009112',
'00964198',
'00501244',
'00327438',
'00200155',
'00783143',
'01008726',
'01008857',
'01008848',
'00212468',
'01008254',
'01009183',
'01008700',
'00213326',
'00989622',
'00741216',
'01005927',
'01009092',
'01009143',
'01008189',
'01008837',
'01008921',
'01008839',
'01009164',
'01009203',
'01009270',
'00927324',
'00996949',
'01008983',
'00996228',
'00996255',
'00996269',
'01008704',
'01008528',
'01009120',
'00999634',
'01008695',
'00241787',
'00241634',
'01008989',
'01009156',
'01009204',
'00243404',
'01002401',
'00980060',
'01008722',
'01008754',
'01008971',
'00372980',
'00259107',
'01008927',
'01004294',
'01008693',
'01008787',
'00260313',
'01008790',
'01008834',
'00985148',
'00987678',
'00964130',
'01006242',
'00380663',
'01009007',
'01009002',
'01009159',
'00993378',
'01009282',
'00448591',
'01008863',
'01009179',
'00986366',
'01009042',
'00999927',
'00291830',
'01008931',
'01009192',
'01008714',
'01009020',
'01009024',
'01009044',
'01009135',
'00489211',
'01008878',
'01008891',
'01008908',
'01008941',
'01008959',
'01008987',
'01009003',
'01009014',
'00922269',
'00418359',
'01008686',
'01008713',
'00878346',
'01009134',
'00424312',
'01009236',
'00424541',
'00424461',
'01008925',
'01008928',
'00428383',
'00533686',
'00319859',
'00372939',
'00703184',
'01008773',
'01008904',
'01008692',
'01009037',
'01009041',
'01009046',
'01009254',
'01008817',
'00497440',
'01008749',
'01008943',
'01009172',
'01009223',
'00494301',
'01008396',
'01008421',
'01008427',
'01008796',
'00479535',
'00487644',
'00637921',
'01006456',
'01007235',
'01007789',
'01008551',
'01008555',
'00489189',
'00994494',
'00842519',
'01001084',
'01007435',
'00486123',
'00486134',
'01005800',
'01007522',
'01009010',
'01007892',
'01007901',
'01008209',
'01008480',
'01002772',
'00461114',
'01005023',
'01009207',
'01008761',
'01001036',
'01001049',
'00620964',
'00960858',
'01009276',
'00994559',
'01002741',
'01008993',
'01008851',
'01008701',
'01008717',
'01006728',
'01008678',
'01008691',
'01009121',
'01009148',
'01009209',
'00655154',
'00933169',
'01008794',
'00617536',
'00680627',
'01007214',
'01008622',
'01009158',
'01008677',
'01008682',
'01008690',
'01009144',
'00997373',
'01000851',
'01008725',
'01008748',
'01009188',
'01008735',
'01008397',
'00551670',
'00578535',
'00638381',
'01005823',
'00974622',
'01009162',
'01008852',
'01008918',
'01008759',
'00992430',
'01008481',
'01008938',
'01008483',
'01009108',
'01009111',
'01009117',
'01008720',
'01009040',
'00926248',
'01008841',
'01007327',
'00982250',
'00984023',
'00983207',
'01008694',
'01008445',
'00998997',
'01001495',
'01009123',
'01008738',
'00729010',
'00965134',
'01008985',
'01009232',
'01009248',
'00733725',
'01008865',
'00227645',
'01008947',
'01009094',
'01008514',
'01008038',
'00918826',
'00973826',
'01008710',
'01008917',
'01008929',
'01008980',
'01009012',
'01008429',
'01009174',
'00801816',
'00972150',
'01009081',
'01008882',
'01008914',
'01008920',
'00999628',
'01003347',
'00408429',
'01008729',
'01009238',
'01009284',
'00034626',
'00996555',
'01008808',
'01006671',
'00757828',
'00930924',
'00942494',
'00977921',
'00593678',
'00038826',
'00851813',
'00637488',
'01009414',
'01009512',
'01005211',
'00078753',
'01009645',
'01009648',
'01009678',
'01007923',
'01007924',
'01009247',
'01009781',
'00577342',
'01009407',
'01007758',
'01008719',
'01008894',
'01009202',
'01009398',
'01007799',
'01009674',
'01009388',
'00331418',
'00379643',
'00743036',
'01009231',
'01009122',
'01009244',
'01009416',
'01009523',
'01009588',
'01009735',
'01009760',
'01009787',
'00203264',
'00993062',
'01009485',
'01009430',
'01009493',
'01009589',
'01009665',
'01009670',
'01008684',
'01009708',
'01009783',
'00975305',
'01004225',
'01009450',
'01009765',
'01009479',
'01009357',
'01009487',
'01009598',
'01009625',
'00661633',
'01009452',
'01009600',
'01009640',
'00271989',
'01009718',
'00275477',
'01009634',
'01009507',
'01009455',
'01009623',
'00826671',
'01009410',
'01009432',
'00978118',
'00986347',
'01009499',
'00976882',
'01009689',
'01009399',
'01009566',
'01009790',
'01009793',
'01009796',
'01009396',
'00422073',
'01009581',
'01009387',
'01009486',
'01009462',
'01009536',
'00984080',
'01009802',
'01009509',
'00524345',
'00057312',
'01009435',
'01009701',
'01009612',
'01009667',
'00799368',
'01009373',
'01009561',
'01009668',
'01009676',
'01009686',
'01009691',
'01009695',
'00991692',
'01009540',
'00403462',
'00409673',
'01008582',
'00994609',
'01000521',
'01009227',
'01009371',
'01009379',
'00578883',
'00599877',
'00603878',
'00608365',
'01008703',
'01009250',
'00985743',
'01004610',
'00547588',
'01009237',
'01008961',
'00989617',
'01009522',
'01009029',
'01009747',
'01009243',
'01007920',
'01009633',
'01000524',
'01008645',
'01008646',
'01008647',
'01009459',
'01007903',
'01008400',
'01008879',
'01009229',
'00726176',
'01009583',
'00871628',
'00921238',
'01009531',
'00736652',
'01009662',
'01009713',
'01009253',
'01004469',
'01009445',
'00978457',
'01008035',
'01008516',
'00863510',
'01008196',
'01008696',
'01008975',
'01009150',
'01009683',
'01009728',
'00999645',
'01009525',
'01009529',
'01009541',
'01009549',
'01009559',
'00003105',
'00030794',
'01006550',
'01009656',
'00001729',
'00681333',
'00704795',
'00774598',
'00518838',
'01008463',
'00074785',
'00932764',
'00307753',
'01008562',
'01010023',
'01010081',
'01010090',
'00119807',
'01010265',
'00383301',
'00995631',
'01001052',
'00558170',
'01009991',
'01010087',
'01010209',
'01010148',
'01010312',
'00176695',
'00316690',
'01009470',
'01009359',
'01010153',
'00203427',
'00998229',
'00934314',
'01010119',
'01010222',
'01010244',
'00234232',
'01010162',
'01010253',
'01010257',
'01010195',
'00247921',
'00250474',
'01010130',
'01010134',
'01010154',
'01010171',
'00252858',
'00094146',
'00118668',
'00564925',
'01003306',
'01009368',
'01010003',
'01007087',
'00381159',
'00262537',
'01007267',
'01009993',
'01010261',
'00314440',
'01010231',
'01008164',
'01008177',
'01010310',
'01010157',
'01010191',
'00274651',
'01009996',
'01009964',
'01010112',
'01009431',
'01010135',
'01009986',
'00839474',
'00418109',
'01010007',
'01010032',
'01010192',
'01010224',
'01009963',
'00428636',
'01009646',
'01009085',
'00524004',
'00604377',
'00992757',
'01007281',
'01005098',
'00056239',
'00986912',
'01010067',
'01003267',
'01007752',
'01010082',
'01010096',
'01009702',
'01010004',
'00281507',
'01010221',
'00403849',
'00640580',
'00867624',
'00795002',
'01009521',
'01009463',
'01010083',
'01005962',
'00576400',
'00698597',
'00881576',
'01009972',
'01009984',
'01010184',
'01008045',
'01008230',
'01008476',
'01010061',
'01007853',
'01008257',
'01007313',
'01010043',
'00987416',
'00866429',
'00978673',
'00721129',
'01010136',
'00366768',
'01010283',
'00907702',
'01009606',
'01010105',
'01010176',
'01008560',
'01009113',
'01009097',
'01010002',
'01009469',
'01009535',
'01010059',
'01010078',
'01009558',
'01009777',
'01008443',
'01010174',
'01001289',
'01001279',
'01004510',
'01007662',
'01007649',
'01007640',
'01007634',
'01007622',
'01007598',
'01008505',
'01009356',
'01002251',
'00018297',
'01010272',
'00669199',
'00704959',
'00886974',
'00312284',
'01009979',
'01010705',
'01010671',
'01010553',
'01010066',
'00147026',
'01010696',
'01009009',
'01010519',
'01010765',
'01008465',
'00951551',
'01010576',
'01010620',
'01010842',
'01010545',
'01010820',
'01010521',
'00654604',
'00757643',
'01010799',
'01010612',
'00217309',
'00631007',
'01010510',
'01010741',
'01010660',
'01010315',
'01010321',
'00974752',
'01010595',
'01010703',
'01007571',
'01007576',
'01007585',
'01007744',
'01007762',
'01007824',
'01007871',
'01007882',
'01007883',
'01007885',
'01007891',
'01007895',
'01007898',
'01007902',
'01007906',
'01007930',
'01007932',
'01007941',
'01007949',
'01007954',
'01007972',
'01007978',
'01007989',
'01008002',
'01008142',
'01008258',
'01008565',
'01008958',
'01008966',
'01010493',
'00662236',
'01010686',
'00996290',
'00996291',
'01004952',
'01010147',
'01010518',
'01010073',
'01010672',
'01010710',
'01010804',
'00915243',
'01009035',
'01010719',
'01010520',
'01010658',
'01010661',
'00986362',
'01010659',
'01010460',
'01010494',
'01010580',
'01010689',
'01010474',
'01009985',
'00295589',
'00560505',
'00813038',
'01010631',
'01010642',
'00419478',
'01010782',
'00664796',
'01010539',
'01010546',
'01010115',
'01010684',
'00670050',
'00746540',
'01010531',
'00130580',
'00660900',
'01001575',
'01010010',
'01010091',
'01010123',
'01010167',
'01010180',
'01010199',
'01010845',
'01010101',
'01010680',
'01010789',
'00458595',
'01010243',
'00912802',
'01010241',
'01010482',
'01010651',
'01010256',
'01010720',
'00973735',
'00964872',
'01000216',
'00604506',
'00998886',
'01010803',
'01010678',
'01010700',
'01010780',
'01010670',
'01010712',
'01010508',
'01010527',
'01010557',
'01010495',
'00276188',
'01010614',
'01009632',
'00997024',
'01010095',
'01010544',
'01010656',
'00718503',
'01004323',
'01004530',
'01009167',
'01009458',
'01010071',
'01010182',
'01010270',
'00991185',
'01004844',
'01005877',
'01010728',
'01010647',
'01010663',
'01010807',
'01010815',
'00727394',
'00924720',
'01000099',
'01006366',
'01010511',
'00906635',
'00997441',
'01010503',
'01010052',
'01010657',
'01010664',
'01010787',
'01010802',
'01008026',
'01010481',
'01010794',
'01010796',
'01010801',
'01010808',
'01010824',
'01010055',
'01010076',
'01008870',
'00996375',
'01011057',
'01010835',
'01010118',
'01010540',
'00035495',
'00333071',
'00991448',
'00995422',
'00995467',
'01007542',
'01010622',
'01010878',
'01011169',
'01011512',
'01011730',
'01011771',
'01012566',
'01012666',
'01013484',
'01013522',
'01013575',
'01013588',
'01013603',
'01013607',
'01005626',
'01011178',
'00667756',
'00678527',
'00692523',
'00698009',
'00762823',
'00762840',
'00792734',
'00851957',
'00853178',
'00907449',
'00931349',
'00938698',
'00941574',
'00941579',
'00941580',
'00946621',
'00971908',
'00593841',
'01011455',
'01012760',
'00795692',
'00795773',
'00798337',
'00813225',
'00038398',
'00039115',
'00044208',
'00047181',
'00135510',
'01010230',
'01010237',
'01010279',
'01010293',
'01010316',
'01010693',
'01010699',
'01011488',
'01011502',
'01012405',
'01012516',
'01012720',
'01012745',
'01012762',
'01013081',
'01013363',
'01013487',
'01011294',
'01011302',
'01011467',
'01011487',
'01012315',
'01012322',
'01012340',
'01013024',
'01013063',
'01013077',
'01011652',
'01011664',
'01012148',
'01012172',
'01012202',
'00964903',
'00092215',
'00092235',
'00104777',
'00484814',
'01012196',
'01012304',
'01013080',
'01013199',
'01009973',
'01012270',
'01013216',
'01008395',
'00107355',
'00111856',
'01005839',
'00335117',
'01011298',
'01011335',
'01013146',
'01013457',
'00120115',
'00122262',
'00315397',
'01012162',
'01013255',
'01011312',
'01011558',
'01011588',
'01011598',
'01012197',
'00122115',
'00999363',
'01012568',
'01012608',
'00998690',
'01012168',
'01011878',
'01011913',
'01012442',
'01013128',
'01013288',
'00136790',
'00643443',
'01011846',
'01012240',
'00994187',
'01011507',
'01011514',
'01012146',
'01012601',
'00251711',
'01011305',
'01011364',
'01011385',
'01013332',
'00882242',
'01012076',
'00140129',
'00140468',
'01009291',
'01011145',
'01011394',
'01012613',
'01013044',
'00761104',
'01011427',
'01011834',
'01012580',
'01013005',
'01010102',
'01011014',
'01011541',
'01011898',
'01004476',
'00360416',
'01010166',
'01010528',
'01010538',
'01010856',
'01012210',
'01012248',
'01012298',
'00161949',
'01011494',
'01011608',
'01012166',
'01012500',
'01012522',
'01012620',
'01013358',
'01013387',
'01013412',
'01013454',
'01011301',
'01013161',
'00322508',
'01005532',
'01011755',
'01012605',
'01012724',
'01013231',
'00390820',
'00366640',
'00999098',
'01011283',
'01012135',
'00190700',
'00979797',
'00333015',
'01002018',
'01011328',
'01011466',
'01012081',
'01012106',
'01012180',
'01012297',
'01012373',
'01012450',
'01013000',
'01013113',
'01013126',
'01013227',
'00644314',
'00375935',
'01010739',
'01001798',
'01003149',
'01003172',
'01013461',
'00626354',
'00662228',
'00832656',
'00971272',
'01011499',
'01013379',
'01011577',
'01011438',
'01012310',
'01013212',
'01013490',
'01013090',
'01013132',
'00382766',
'00557259',
'00809545',
'00981298',
'01012676',
'01013529',
'00211652',
'01010964',
'01011304',
'01012036',
'01012243',
'01012262',
'01013289',
'00687898',
'01010132',
'01012552',
'01012558',
'01005014',
'00991678',
'01011000',
'01012355',
'01012794',
'00226204',
'00449418',
'00740125',
'00741242',
'00758451',
'00883583',
'00635479',
'00316496',
'00930136',
'00697999',
'00892254',
'01010881',
'01011334',
'01011461',
'01011852',
'01012116',
'01013316',
'01013319',
'01013502',
'00976441',
'01011849',
'01011882',
'01011899',
'01012203',
'01012349',
'01013052',
'01013261',
'01013417',
'00984083',
'01013270',
'01000438',
'01012622',
'01013469',
'00299444',
'00794642',
'01012194',
'01013143',
'01013251',
'01011666',
'00383962',
'01011832',
'00238224',
'00372953',
'01010718',
'01012175',
'00319240',
'00240633',
'00974747',
'00983493',
'01011537',
'01011810',
'01012161',
'01012428',
'01012756',
'01013388',
'01013624',
'00243646',
'00247557',
'01011292',
'01012124',
'00804655',
'01011582',
'01011590',
'01002959',
'01011310',
'01013553',
'00251075',
'01011915',
'00784680',
'01012129',
'01012485',
'01013172',
'01013304',
'00982718',
'01011739',
'01011836',
'01012286',
'01012532',
'01013083',
'01013114',
'01013184',
'01013497',
'01013509',
'00251684',
'01005596',
'01005598',
'01005918',
'01005920',
'01005924',
'01005926',
'01005932',
'01005950',
'01005988',
'01005998',
'01006069',
'01006070',
'01006071',
'01006072',
'01006075',
'01006083',
'01006205',
'01006216',
'01006233',
'01007561',
'01007611',
'01007672',
'01009200',
'01011391',
'01011452',
'01011940',
'01011957',
'01012178',
'01012561',
'01012664',
'01013073',
'01012569',
'01013003',
'01013310',
'01013375',
'01011665',
'01012807',
'01013229',
'00341087',
'00452557',
'00708309',
'01011379',
'01011431',
'01012791',
'01013148',
'01013515',
'00987863',
'01011539',
'01012805',
'00264812',
'01012339',
'01013033',
'01011856',
'00267461',
'00270204',
'01011409',
'01011735',
'01011861',
'01011963',
'01012236',
'01012271',
'01012653',
'01013331',
'00960602',
'00849206',
'01011307',
'01011327',
'01011921',
'01012030',
'01012294',
'01012318',
'01012391',
'01012602',
'01013169',
'01013494',
'00714065',
'00305526',
'00999879',
'01012995',
'01013372',
'01013464',
'01010907',
'01010918',
'01011372',
'01011903',
'01013433',
'01011617',
'01011790',
'01011933',
'01012545',
'01012993',
'01013327',
'00288197',
'00327544',
'01007690',
'01007700',
'01007739',
'01007776',
'01007784',
'01009738',
'01009748',
'01011543',
'01012155',
'01013350',
'00162086',
'00756689',
'01012149',
'01012615',
'01013618',
'00289931',
'00996055',
'01000594',
'01011290',
'01011299',
'01012524',
'00303642',
'01010309',
'01011857',
'01013202',
'01012114',
'01012088',
'01012348',
'01013349',
'01012293',
'00296392',
'01011859',
'00847954',
'01010611',
'01011420',
'01011447',
'01011902',
'01012107',
'01013265',
'01013524',
'00999466',
'01011279',
'01011347',
'01011360',
'01011632',
'01011634',
'01012667',
'01012808',
'01012814',
'01012816',
'01013096',
'01013318',
'01013321',
'01013335',
'01013336',
'01013491',
'01013500',
'01013505',
'01013519',
'01013533',
'01011743',
'01012074',
'01013179',
'01013269',
'01011380',
'01011826',
'01012157',
'00422737',
'00965837',
'01011428',
'01013225',
'00991457',
'01008875',
'01011950',
'01012773',
'01011056',
'01012426',
'01013205',
'00428702',
'01011667',
'01012312',
'00765940',
'01011934',
'01013273',
'01012638',
'00131961',
'01012590',
'01013039',
'01013177',
'01013541',
'00390098',
'01006124',
'01013416',
'00060248',
'01011416',
'01012190',
'01012289',
'01012557',
'01013180',
'01013374',
'01013496',
'01011433',
'01011773',
'01011841',
'01011904',
'01011457',
'00498071',
'01012200',
'01012252',
'01013235',
'01013291',
'01013362',
'01013474',
'01011564',
'01011778',
'01011842',
'01012041',
'01012498',
'01012670',
'01013108',
'01013308',
'01013312',
'01013317',
'01013410',
'01008176',
'00604031',
'00994488',
'00795931',
'00956458',
'01009473',
'01011888',
'00466103',
'00990713',
'01010914',
'01010945',
'01012619',
'01003408',
'01005965',
'01009271',
'01010086',
'01010142',
'01011149',
'01011163',
'01011567',
'01013398',
'00468876',
'00606016',
'00978330',
'00981005',
'01011022',
'01011917',
'00953433',
'00459092',
'00459647',
'00460242',
'01009420',
'00955317',
'01012627',
'01012527',
'01013156',
'01011501',
'01011573',
'01012585',
'01013174',
'01013536',
'01013563',
'01013130',
'01003161',
'01013107',
'01013154',
'01013351',
'00982043',
'00997927',
'01011877',
'01009974',
'01013008',
'01013136',
'01013145',
'01009685',
'01011090',
'01006946',
'01010816',
'01011020',
'00280000',
'00280360',
'01013455',
'00409083',
'00404857',
'00409199',
'00550447',
'01007306',
'01009573',
'01011578',
'01012176',
'01012495',
'00433548',
'01012384',
'00996785',
'01011860',
'01012291',
'01012528',
'01013204',
'01013305',
'01012712',
'01012165',
'01012354',
'01002882',
'01002893',
'01004701',
'00612282',
'01013432',
'01011489',
'01011837',
'00617001',
'00617301',
'01010549',
'01011893',
'01012216',
'01013424',
'01013328',
'01013295',
'00949652',
'00967428',
'00978283',
'01009934',
'00859563',
'01011610',
'01012147',
'00708755',
'01011796',
'01011223',
'01011375',
'01011626',
'00557202',
'00559002',
'00562632',
'00581954',
'00594257',
'00596412',
'00596581',
'00600183',
'00604859',
'00625596',
'00658627',
'01011628',
'01011827',
'01012122',
'00571323',
'00563159',
'00670324',
'01011367',
'01013476',
'00838834',
'00633753',
'01011579',
'01012333',
'01012337',
'01013582',
'01011633',
'01011491',
'00434556',
'01007002',
'01011635',
'01012288',
'01013234',
'01011616',
'01012482',
'00979973',
'01012579',
'00980365',
'00984365',
'01002191',
'00905179',
'01013189',
'01012646',
'01011535',
'01011820',
'01012091',
'01012096',
'01012612',
'00693028',
'00992485',
'01009054',
'01011585',
'01012136',
'01012207',
'01012439',
'01012508',
'01012741',
'01013018',
'01013314',
'01011603',
'01011607',
'01011611',
'01011623',
'01011627',
'01011637',
'01011640',
'01011643',
'01011650',
'01011657',
'01011687',
'01011692',
'01011698',
'01011701',
'01011703',
'01011705',
'01011706',
'01011707',
'01011709',
'01011710',
'01011712',
'01011713',
'01011714',
'01011824',
'01012713',
'01010667',
'01011018',
'01011425',
'01012233',
'01012319',
'01013084',
'01013103',
'01013570',
'01003422',
'01003454',
'01010716',
'01011366',
'01012283',
'00937545',
'01010559',
'00344149',
'00365968',
'01001253',
'01011492',
'01011515',
'01012588',
'01013149',
'01013405',
'01009967',
'00987313',
'01011378',
'01011946',
'01012479',
'01012687',
'01013016',
'01013049',
'01012693',
'01012746',
'01010158',
'01011850',
'00998765',
'01012645',
'01012683',
'01010036',
'01010213',
'01013046',
'01013239',
'01012550',
'01006489',
'00942486',
'01011384',
'01011789',
'01011911',
'01013171',
'01013207',
'01013445',
'01013508',
'00872912',
'00982077',
'01011012',
'00985297',
'00978310',
'01013435',
'01011731',
'00982087',
'00996793',
'00719654',
'00722728',
'00887032',
'00962974',
'01012078',
'01011419',
'00726758',
'01006453',
'01012708',
'01012198',
'01011511',
'01011525',
'00728005',
'00728432',
'01012169',
'01013026',
'01010524',
'01010936',
'01011151',
'01011676',
'01012503',
'01012518',
'01013253',
'01013408',
'00935233',
'01013187',
'00812165',
'00992955',
'01005242',
'01006195',
'01006459',
'01010217',
'00984242',
'00722019',
'01013523',
'00735813',
'01006335',
'01009597',
'01012490',
'00898720',
'01010020',
'00853647',
'00735745',
'01010848',
'01012802',
'00736836',
'00846642',
'01006554',
'01011750',
'01011840',
'01012266',
'00260095',
'01011844',
'01011895',
'01012392',
'01011480',
'01012187',
'01012431',
'01012483',
'01013217',
'01013268',
'01013518',
'01013564',
'01013591',
'01013629',
'01010795',
'01011350',
'01010893',
'01011161',
'01011359',
'01011675',
'01012273',
'01012445',
'01012735',
'01013381',
'00986639',
'00987065',
'00995385',
'01003623',
'01006461',
'01009592',
'01011439',
'01012186',
'01013557',
'01009733',
'01011787',
'00847118',
'01013010',
'01011171',
'01011768',
'01010563',
'01011291',
'00998697',
'01011855',
'00250463',
'01010028',
'01011099',
'01011553',
'01011639',
'01011928',
'01009616',
'01011746',
'01011930',
'01012306',
'01013407',
'00704857',
'00995176',
'01008270',
'01010287',
'01010308',
'01011031',
'01011173',
'01011876',
'01012256',
'01011358',
'01011362',
'01011383',
'01011390',
'01011421',
'01011429',
'01011451',
'01011456',
'01011862',
'01011329',
'01011418',
'01011517',
'01012739',
'01013460',
'00999283',
'01005214',
'01007608',
'01011748',
'01012299',
'01013213',
'00690562',
'01013595',
'01001488',
'01003600',
'01004452',
'01010825',
'01010846',
'01013520',
'01013532',
'01008924',
'01010688',
'01011155',
'01011680',
'01012611',
'01006616',
'01006630',
'01006645',
'01006653',
'01006679',
'01006698',
'01006718',
'01006725',
'01006727',
'01006760',
'01006784',
'01006793',
'01006797',
'01006800',
'01006802',
'01006808',
'01006809',
'01006813',
'01006816',
'01006817',
'01006820',
'01006853',
'01006917',
'01006927',
'01006934',
'01006961',
'01006971',
'01006984',
'01007003',
'01007017',
'01007022',
'01007032',
'01007038',
'01007050',
'01007058',
'01007444',
'01007517',
'01007525',
'01007540',
'01007897',
'01007905',
'01007912',
'01007914',
'01007969',
'01008234',
'01008240',
'01008246',
'01008249',
'01008608',
'01008625',
'01011192',
'01012232',
'00999261',
'00999559',
'00999605',
'01000152',
'01000808',
'01003305',
'01003545',
'01004648',
'01008504',
'01008829',
'01009505',
'01009574',
'01010160',
'01010682',
'01010994',
'01011744',
'00409119',
'01008505',
'01002929',
'01007148')
	--Rejected=0 And Processed=1  and IsAuthorised =1 AND ((@IssuerNo='')OR (BA.BankCode=@IssuerNo)) AND ((@BatchNo='') OR (B.BatchNo=@BatchNo))
	
	--Start sheetal
	--add new file name as AccountBalance_Default
	
	If Exists(SELECT top 1 1 from #tblCardProduction)
	 BEGIN

		--if @IssuerNo='9' /*9 issuer no for prapaid card*/
		if(@IsAccountBalanceFile=1)
		begin
			SELECT @code AS [Code], @description [Description], 'Accounts_Default,CustomerAccounts_Default,Customers_Default,Cards_Default,AccountBalances_Default,AccountLinkage_Default' [FileNames]
		end
		else
		begin
			SELECT @code AS [Code], @description [Description], 'Accounts_Default,CustomerAccounts_Default,Customers_Default,Cards_Default,AccountLinkage_Default' [FileNames]		
		end
	--end sheetal
	Select Distinct 
	[Scheme code],
	[CIF ID],
	--[AC ID] = SubString((Select '|' + LTrim(RTrim(Convert(VarChar(Max),Convert(Numeric(28,0),[AC ID])))) +':'+ISNULL(A.Account_Type,'')+':' + 
	[AC ID] = SubString((Select '|' + LTrim(RTrim(Convert(VarChar(Max), [AC ID] ))) +':'+ISNULL(A.Account_Type,'')+':' +  --Removed numeric condition from AC ID field ATPCM-124
				convert(varchar(50),A.RowNum) As [text()]  --Multiple AccountLink to Same Card
				From (Select Distinct [CIF ID],[AC ID],[Scheme code],AccountLinkage,Account_Type,(Row_number() over (partition by [CIF ID],C.[Card Type and SubType] order by Code))RowNum 
						 From #tblCardProduction C With (NoLock) 
					--	Left Join tblBin D With (NoLock) On C.[Card Type and SubType]=D.CardPrefix 
						Where Rejected=0 And Processed=1 ) A Where A.[CIF ID] = B.[CIF ID] Order By AccountLinkage For XML Path(''), Elements), 2, 99999) 
	InTo #CFIDACIDLinkage
	From #tblCardProduction B With (NoLock) 
	Where Rejected=0 And Processed=1 and IsAuthorised =1 --And BatchNo=@BatchNo			

	--select * from #tblCardProduction
	--select * from #CFIDACIDLinkage

	-- Accounts
			Select  Distinct convert(Varchar,Bank) As [Bank],Replace(RTRIM(LTRIM(BA.BankName)),' ','') AS [BankName], 'U,'+
			--LTrim(RTrim(Convert(VarChar(Max),Convert(Numeric(28,0),[AC ID])))) 
			LTrim(RTrim(Convert(VarChar(Max), [AC ID] )))  --Removed numeric condition from AC ID field ATPCM-124
			+','+isnull(A.Account_Type,'')+','+ISNULL(B.Currency,'356')+',,,,' AS [Result] From #tblCardProduction A With (NoLock)
			Left Join tblBin B With (NoLock) On A.[Card Type and SubType]=B.CardPrefix 
			INNER JOIN TblBanks BA WITH(NOLOCK) ON a.Bank=BA.ID Where Rejected=0 And Processed=1  and IsAuthorised =1 --And BatchNo=@BatchNo

	--CustomerAccounts
		Select Distinct convert(Varchar,Bank) As [Bank],Replace(RTRIM(LTRIM(BA.BankName)),' ','') AS [BankName], 'U,'+LTrim(RTrim(Convert(VarChar(Max),dbo.FunRemoveLeftZero(A.[CIF ID])))) +','+
		--LTrim(RTrim(Convert(VarChar(Max),Convert(Numeric(28,0),[AC ID]))))
		LTrim(RTrim(Convert(VarChar(Max), [AC ID])))  --Removed numeric condition from AC ID field ATPCM-124
		+','+ ISNULL(A.Account_Type,'') AS [Result]
		 From #tblCardProduction A With (NoLock) 
		Left Join tblBin B With (NoLock) On A.[Card Type and SubType]=B.CardPrefix 
		INNER JOIN TblBanks BA WITH(NOLOCK) ON a.Bank=BA.ID Where Rejected=0 And Processed=1  and IsAuthorised =1 --And BatchNo=@BatchNo

		--Customers		
		Select Distinct convert(Varchar,Bank) As [Bank],Replace(RTRIM(LTRIM(BA.BankName)),' ','') AS [BankName],'U,'+LTrim(RTrim(Convert(VarChar(Max),dbo.FunRemoveLeftZero(A.[CIF ID])))) +','+LTrim(RTrim(Case When Left([Card Type and Subtype],1)<>'6' Then LTrim(RTrim([PAN Number])) Else Case When LTrim(RTrim(IsNull(Aadhaar,'')))='' Then LTrim(RTrim([PAN Number])) Else LTrim(RTrim(IsNull(Aadhaar,''))) End End))+',,'+Upper(LTrim(RTrim([Customer Name])))+',,,'+Upper(LTrim(RTrim([Customer Preferred name])))+',,,,,,,,,,,0,'+Replace(IsNull([Mobile phone number],''),'+','') +',,'+LTrim(RTrim([Email id]))+','+LTrim(RTrim([Address Line 1]))+','+LTrim(RTrim([Address Line 2]))+' '+LTrim(RTrim([Address Line 3]))+','+LTrim(RTrim(City))+','+State+','+[Pin Code]+',,,,,,,,'+Right(DOB,4)+SUBSTRING(DOB,3,2)+Left(DOB,2)+',,,0,,211Card_Prefix12'+Right([Card Type and Subtype],2) AS [Result]
		 From #tblCardProduction A With (NoLock) 
		 INNER JOIN TblBanks BA WITH(NOLOCK) ON A.Bank=BA.ID 
		 Where Rejected=0 And Processed=1 And AccountLinkage=0  and IsAuthorised =1 --And BatchNo=@BatchNo

       -- Cards
       /* PGKValue  change for utkarsh start*/
       if @IssuerNo='52'--change for Utkarsh on UAT issuer=52
       begin
		 	Select Distinct convert(Varchar,Bank) As [Bank],Replace(RTRIM(LTRIM(BA.BankName)),' ','') AS [BankName]
			, LTrim(RTrim(Convert(VarChar(Max),dbo.FunRemoveLeftZero(A.[CIF ID])))) +','+ISNULL(a.[Branch code],'')+','+ ISNULL(c.CardProgram,'')+','+isnull(A.Account_Type,'')+','+
			B.[AC ID] 
			+','+ A.PGKValue
			AS [Result]
			 From #tblCardProduction A With (NoLock) 
			 Left Join #CFIDACIDLinkage B With (NoLock) On A.[CIF ID]=B.[CIF ID] 
			 Left Join tblBin C With (NoLock) On A.[Card Type and SubType]=C.CardPrefix 
			 INNER JOIN TblBanks BA WITH(NOLOCK) ON a.Bank=BA.ID 
			 Where Rejected=0 And Processed=1 And AccountLinkage=0  and IsAuthorised =1 --AND ((ISNULL(A.[Scheme code],''))=(ISNULL(C.Switch_SchemeCode,'')))--And BatchNo=@BatchNo --Order By [Branch code], A.[CIF ID]
       end /* PGKValue  change for utkarsh End*/
       else
       begin
			 Select Distinct convert(Varchar,Bank) As [Bank],Replace(RTRIM(LTRIM(BA.BankName)),' ','') AS [BankName]
			, LTrim(RTrim(Convert(VarChar(Max),dbo.FunRemoveLeftZero(A.[CIF ID])))) +','+ISNULL(a.[Branch code],'')+','+ ISNULL(c.CardProgram,'')
			+','+isnull(A.Account_Type,'')+','+B.[AC ID] 
			 AS [Result]
			 From #tblCardProduction A With (NoLock) 
			 Left Join #CFIDACIDLinkage B With (NoLock) On A.[CIF ID]=B.[CIF ID] 
			 Left Join tblBin C With (NoLock) On A.[Card Type and SubType]=C.CardPrefix 
			 INNER JOIN TblBanks BA WITH(NOLOCK) ON a.Bank=BA.ID 
			 Where Rejected=0 And Processed=1 And AccountLinkage=0  and IsAuthorised =1 --AND ((ISNULL(A.[Scheme code],''))=(ISNULL(C.Switch_SchemeCode,'')))--And BatchNo=@BatchNo --Order By [Branch code], A.[CIF ID]
       end

--Start sheetal
--for Account Balance file record
if(@IsAccountBalanceFile=1)
		begin
			Select  Distinct convert(Varchar,Bank) As [Bank],Replace(RTRIM(LTRIM(BA.BankName)),' ','') AS [BankName], 'U,'+
			--LTrim(RTrim(Convert(VarChar(Max),Convert(Numeric(28,0),[AC ID])))) 
			LTrim(RTrim(Convert(VarChar(Max), [AC ID] )))+','+B.[Ledger Account Balance]+','+B.[Available Account Balance]  --Removed numeric condition from AC ID field ATPCM-124
			+','+isnull(A.Account_Type,'') AS [Result] From #tblCardProduction A With (NoLock)
			Left Join tblBin B With (NoLock) On A.[Card Type and SubType]=B.CardPrefix 
			INNER JOIN TblBanks BA WITH(NOLOCK) ON a.Bank=BA.ID Where Rejected=0 And Processed=1  and IsAuthorised =1 --And BatchNo=@BatchNo
		end
	--end sheetal
		
--AccountLinkage
	Select Distinct convert(Varchar,Bank) As [Bank],Replace(RTRIM(LTRIM(BA.BankName)),' ','') AS [BankName]
	, LTrim(RTrim(Convert(VarChar(Max),dbo.FunRemoveLeftZero(A.[CIF ID])))) +','+
	--LTrim(RTrim(Convert(VarChar(Max),Convert(Numeric(28,0),[AC ID])))) 
	LTrim(RTrim(Convert(VarChar(Max),[AC ID]))) --Removed numeric condition from AC ID field ATPCM-124 
	AS [Result] 
	From #tblCardProduction A With (NoLock) 
	INNER JOIN TblBanks BA WITH(NOLOCK) ON a.Bank=BA.ID 
	Where Rejected=0 And Processed=1  And AccountLinkage=1 and IsAuthorised =1--And BatchNo= @BatchNo --And ExistingCustomer=1 

	
	--Update tblCardProduction Set Downloaded=1 Where Rejected=0 And Processed=1 and IsAuthorised =1--And BatchNo=@BatchNo
	--Update tblCardProductionReissue Set Generated=1, GeneratedOn=GetDate() Where Processed=1 And Generated=0 And Convert(DateTime,Convert(VarChar(11),ProcessedOn,113))=@Date And Bank=@Bank
	
	------	SELECT CP.Code,CP.[CIF ID] [CIF ID],CP.[Customer Name] [Customer Name],CP.[Customer Preferred name] [Customer Preferred name],CP.[Card Type and Subtype] [Card Type and Subtype]
	------	,CP.[AC ID] [AC ID],CP.[AC open date] [AC open date],CP.[CIF Creation Date] [CIF Creation Date],CP.[Address Line 1] [Address Line 1], CP.[Address Line 2] [Address Line 2],CP.[Address Line 3] [Address Line 3]
	------	,CP.City City,CP.[State] [State], CP.[Pin Code] [Pin Code],CP.[Country code] [Country code],CP.[Mothers Maiden Name] [Mothers Maiden Name],CP.DOB DOB,CP.[Country Dial code] [Country Dial code]
	------	,CP.[City Dial code],CP.[Mobile phone number],CP.[Email id],CP.[Scheme code],CP.[Branch code]
	------	,CP.[Entered date] [Entered date],CP.[Verified Date] [Verified Date],CP.[PAN Number] [PAN Number],CP.[Mode Of Operation] [Mode Of Operation],CP.[Fourth Line Embossing] [Fourth Line Embossing]
	------	,CP.[Debit Card Linkage Flag] [Debit Card Linkage Flag],CP.[Uploaded On] [Uploaded On],CP.Rejected Rejected,CP.Reason Reason,CP.Processed Processed,CP.Downloaded Downloaded,CP.[Login] [Login]
	------	,CP.AccountLinkage AccountLinkage,CP.ExistingCustomer ExistingCustomer,CP.[Skip] [Skip],CP.BatchNo BatchNo,CP.AccountLinkageSMSSent AccountLinkageSMSSent,CP.AccountLinkageSMSGUID AccountLinkageSMSGUID
	------	,CP.Aadhaar Aadhaar,CP.AddOnCards AddOnCards,CP.Bank Bank,CP.ProcessedOn ProcessedOn,CP.[Bc Branch Code] [Bc Branch Code],CP.[Center Name] [Center Name],CP.[Orig Card Type and Subtype] [Orig Card Type and Subtype]
	------	,CP.ResidentCustomer ResidentCustomer,CP.IsAuthorised IsAuthorised,CP.AuthorisedBy AuthorisedBy,CP.SystemID SystemID,CP.BankID BankID ,GETDATE() [Date],
	------	CP.CIF_FileName CIF_FileName,CP.Account_Type Account_Type,CP.Pin_Mailer Pin_Mailer,@DownloadBatch ProcessBatch,SwitchCardProgram ,cp.PGKValue PGKValue
	------	into #finalCardprodData	from tblCardProduction CP  WITH(NOLOCK) 
	------	INNER JOIN #tblCardProduction C ON Cp.Code=c.Code

	--------Card Files generated record moved to autherized log
	------ INSERT INTO TblAuthorizedCardLog (Code,[CIF ID],[Customer Name],[Customer Preferred name],[Card Type and Subtype]
	------,[AC ID],[AC open date],[CIF Creation Date],[Address Line 1],[Address Line 2],[Address Line 3]
	------,City,[State],[Pin Code],[Country code],[Mothers Maiden Name],DOB,[Country Dial code]
	------,[City Dial code],[Mobile phone number],[Email id],[Scheme code],[Branch code]
	------,[Entered date],[Verified Date],[PAN Number],[Mode Of Operation],[Fourth Line Embossing]
	------,[Debit Card Linkage Flag],[Uploaded On],Rejected,Reason,Processed,Downloaded,[Login]
	------,AccountLinkage,ExistingCustomer,[Skip],BatchNo,AccountLinkageSMSSent,AccountLinkageSMSGUID
	------,Aadhaar,AddOnCards,Bank,ProcessedOn,[Bc Branch Code],[Center Name],[Orig Card Type and Subtype]
	------,ResidentCustomer,IsAuthorised,AuthorisedBy,SystemID,BankID,[Date],CIF_FileName,Account_Type,Pin_Mailer,ProcessBatch,SwitchCardProgram,PGKValue)
	------select * from #finalCardprodData	
	
	/*This is added for insta change*/
	--if @IssuerNo='54'--prabhu bank
	------if (@SyncCustomerData=1)
	------begin
	------	select 1 IsCardSuccess,f.SystemID SystemID,f.BankID BankID, 
	------	Case When ISNULL([AC ID] ,'')='' THEN NULL ELSE dbo.ufn_EncryptPAN([AC ID])END AccNo,
	------	f.[CIF ID] [CIF ID] ,GETDATE() [Date],
	------	 Case WHen ISNULL(AccountTypeID,1)=0 THEn 1 ELSE AccountTypeID END AccType,
	------	 [Address Line 1] StreetName,
	------	 City, [Mobile phone number], [Email id],
	------	 [Customer Preferred name],
	------	  convert(datetime,stuff(stuff(DOB,5,0,'/'),3,0,'/')  , 103)  DOB  ,[Mothers Maiden Name]
	------	 into #CustomersDetails
	------	 from #finalCardprodData f 
	------	 left join TblCustomersDetails c with(nolock) on f.[CIF ID]=c.BankCustID 
	------	 left join TblAccounttype t With(NOLOCK) on f.[Scheme code]=t.AccountTypeCode
	------	 where c.BankCustID is null
		 
	------	 --select '#finalCardprodData',* from #finalCardprodData
	------	 --select '#CustomersDetails',* from #CustomersDetails

	------	INSERT INTO TblCustomersDetails (IsCardSuccess,SystemID,BankID,AccNo,BankCustID,Maker_Date_IND ,AccType,
	------	FirstName,MobileNo,DOB_AD,MotherName,NameOnCard)
	------	select IsCardSuccess,							SystemID,BankID,AccNo,[CIF ID] ,[date],  AccType, 
	------	[Customer Preferred name],[Mobile phone number],DOB,[Mothers Maiden Name],[Customer Preferred name]	from #CustomersDetails
		 
	------	--select '#CustomersDetails',* from #CustomersDetails
		
	------	UPDATE TblCustomersDetails SET  ApplicationFormNo=dbo.FunGetApplicationNo(t.customerid)  
	------	--select dbo.FunGetApplicationNo(t.customerid)  ,*
	------	from TblCustomersDetails t
	------	inner join #CustomersDetails c on t.BankCustID=c.[CIF ID]
		
	------	INSERT INTO TblCustomerAddress(
	------		   t.Customerid, StreetName_P,City_P,District_P,Phone1_P,           Email_P,IsSameAsPermAddr,StreetName_C,City_C,District_C,Phone1_C,Email_C)	
	------	select CustomerID,f.StreetName,f.City,  f.City, f.[Mobile phone number],f.[Email id],1,f.StreetName,f.City,f.City,f.[Mobile phone number],f.[Email id]
	------	from #CustomersDetails f 
	------		  inner join TblCustomersDetails t on  f.[CIF ID]=t.BankCustID 

	------	 INSERT INTO TblCustOccupationDtl (CustomerID)
	------	 select CustomerID  
	------	 from #CustomersDetails f inner join
	------		  TblCustomersDetails t on f.[CIF ID]=t.BankCustID 
			  
	------	drop table #CustomersDetails
	------end 

	  ------DELETE CP From tblCardProduction CP 
  	------	INNER JOIN #tblCardProduction C ON Cp.Code=c.Code

		DROP TABLE #tblCardProduction 
		DROP TABLE #CFIDACIDLinkage
		drop table #finalCardprodData
	ENd
	------
	ELSE
	BEGIN
		SELECT 1 AS [Code], 'No record' [Description], '' [FileNames]
	END
--END
end try
begin catch
	--rollback tran
	SELECT 1 AS [Code], ERROR_MESSAGE() [Description], '' [FileNames]

	--INSERT INTO TblCardAutomationErrorLog(Function_Name,Error_Desc,Error_Date,ParameterList,IssuerNo)                 
	--	  SELECT ERROR_PROCEDURE(),ERROR_MESSAGE()+'Line Number:' +cast(ERROR_LINE() as varchar(50)),GETDATE(),'@IssuerNo='=@IssuerNo,@IssuerNo
end catch

end



GO
